@media only screen and (max-width: 1279px) {
  .content {
    padding:20px;
    color:white;
  }
  .stockphoto2 {height: 100vh; overflow-y: hidden;}
  main { overflow-x: hidden;}
  main ul {margin-left:-1.8rem; }
}    
@media only screen and (min-width: 1280px) {
  #stockphoto1 {top:0;z-index: 3;}
  #stockphoto2{top:354px}
  #stockphoto3{top:780px;z-index: 3; }
  #stockphoto4{top:797px; bottom:0; left:0; background-color:black;width:100%;}
  .content {top:332px;left:745px;background-color: rgba(0, 0, 0, .20); border-radius: 20px;position: absolute;
  }
}

@media only screen and (min-width: 1440px) {
  #stockphoto2{top:399px}
  #stockphoto3{top:878px;}
  #stockphoto4{top:880px;}
  .content {top:382px;left:846px;}

}
