input {font-size: 1rem;}
.userInfo {margin: 0 auto 20px auto; color: antiquewhite;}
@media only screen and (max-width: 1279px) {
    .submenu {display: none;}
    main {position: fixed;}
    .stockphoto2 {width:100%; height:100vh; overflow: hidden; margin:0; padding:0}
    .photo2 {width: unset;height: unset;}
    h1 {position:relative; top:0; text-align: right} 
    label, input[type=text], input[type=password] {
        font-family: 'Anybody', cursive;
        font-weight: 400;
        font-size: 1rem;
        padding: 3px 5px;
        margin-bottom: 10px;
    
    }
    .content {margin: 0 auto; top:5rem}
    form {margin-top: 2rem;}
    select {width:90%; font-size: 1rem; padding:10px;}
    input[type=submit] {border-radius: 15px; padding: 2px 16px; background-color: #aaaaaa;font-size: 1rem;}  
    input[type=text], input[type=password] {width:90%}
}
@media only screen and (min-width: 1280px) {
    #submenu2 {display: none;}  
    .submenu {
        list-style-type: none;
        display: inline-flex;
        margin: 100px 0 50px -65px;
    }
    .submenu li  {
        background-color: #333;    
        margin:0;
        padding:15px;
        height: 60px;
        text-align: center;
        border-right: 1px solid #8b8d8f;
        text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;

    }

    .submenu li:nth-child(1) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

    }

    .submenu li:last-child {
        border:none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

  .submenu li a {
    display: block;
    padding: 8px 3px;
    width: 155px;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 600ms ease-in-out;
  }  


  .submenu li a:hover {
    background-color: #aaaaaa;
    width:200px;
    color:black;
  }    
   .changepass {position: relative; float: right; top:-80px}
   .changepass a:hover {background-color: antiquewhite; color: #000;}
    main {background: #000 url("/images/background17-full.png") no-repeat left top; background-size: cover;}
    .content {position:absolute; top:10rem; left:5rem;width:40rem;z-index: 3; height: unset;}
    h1 {position:absolute; top:10rem; left:37rem;text-align: right;}
    label{margin-top: 4px;}
    .col1 {float: left;width: 30%; }
    .col2 {width: 70%;}
    .row {margin-bottom: 0.5rem;}
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    form { padding-bottom: 50px;}
    input:focus {background-color:white}
    label, input {
        font-family: 'Anybody', cursive;
        font-weight: 400;
        padding: 3px 0;
    }
    label,input[type=submit] {font-size: 1.2rem;}
    input[type=submit] {border-radius: 15px; padding: 5px 16px; background-color: #8b8d8f;}
    input[type=submit]:hover {background-color: white;} 
    label.container {
        display: block;
        margin-bottom: 20px;
        font-size: 1rem;
    }
    .container input {
        accent-color:#8b8d8f;
    }
    .container input {
        margin-right: 13px;
    }
    input[type=text], input[type=password] {
        border:none;
        color: black;
        background-color: #aaaaaa;
        font-size: 1rem;
        border-radius: 22px;
        padding: 4px 30px;
        margin-bottom: 25px;
        width:10rem;
    }
    h2, p {margin-left:0; margin-bottom:2rem; ;}
    
}

@media only screen and (min-width: 1440px) {
    h1 {top:13rem; left:43rem} 
    .content {bottom:10rem; left:5rem;}
    input:focus {background-color:white}
}

