input {font-size: 1rem;}
.userInfo {margin: 0 auto 20px auto; color: antiquewhite;}
.changepass a {color:#caacacd6}
.fa {margin-right: 10px;}
.col1 {float: left;width: 30%; }
.col2 {float: left;}
table td, main ul li, main ol li {font-family: 'Anybody', 'Noto Sans TC', cursive;  font-weight: 300; }
table th {font-size: 1.2rem;}
table td {font-size: 1rem; font-weight: 300;}
tr:nth-child(even) {background-color: rgba(230,230,230,0.4)}
th {color:antiquewhite; font-weight: normal; line-height: 2rem;}
td {min-width: 8px;}
.records > table {border: 1px solid #333; width:550px;padding:20px; background-color: #f7f7f7;color:#000;box-shadow: 5px 10px #888888;}
.records tr:nth-child(even) {background-color: unset}
.records td {padding: 5px 10px; vertical-align: top; font-size: 0.9rem;}
.fa {margin-right: 5px;}
.guideline a {font-size: 0.9rem; color:#caacacd6}
.notes > * {font-size: 0.9em; color: #aaaaaa;}
p strong {color:antiquewhite; font-weight: 400;}
h2 {font-family: 'Anybody', 'Noto Sans TC', cursive;  font-weight: 400; }


@media only screen and (max-width: 1279px) {
  #searchfrm {margin-bottom: 250px;}
  .records > table {overflow-x: auto;}
  .last10 {margin-top: 20px;}
  .symbol {display: none;}
  .submenu {display: none;}
  h1 {position: relative;
    top:0;
    left:2rem;
    font-size: 1rem;
    z-index: 4;
    margin:0;
  }
  .stockphoto2 {height: 100vh; overflow-y: hidden;}
  .photo2 {width: unset;height: unset;}
  form#submenu2 {margin-top: 20px;}
  h3 {font-size: 2rem;}
  .content {position:relative; top: -38rem; width: 80vw; padding: 0 1.3rem 2rem 1.3rem ; margin-bottom: 1.2rem; }
  .container {display: block; margin-bottom: 0.5rem;}
  .row {margin: 10px; }
  
  input[type=submit], input[type=button]  {border-radius: 12px; padding: 2px 8px; background-color: #8b8d8f; color:white; margin: 0 auto; font-size: 1rem;} 
  input, label, select {font-size: 1rem;}
  select {width:90%; }
  input[type=text] {width:90%}
  select {width:90%; font-size: 1rem; padding:10px;}
  .result {overflow-x: hidden;}
  .results {overflow-x: scroll;}
  .result form, .result .records {overflow-x: auto; padding: 10px 0}
  table{width:30rem;}
  th, td {text-align: left; font-size: 1.1rem;}
  .changepass {position: relative; }

  }
@media only screen and (min-width: 1280px) {
    .flip-box {position: absolute;}
    #submenu2 {display: none;}  
    .submenu {
      list-style-type: none;
      display: inline-flex;
      margin-top:11rem;
      margin-left: -65px;
      
  }
  .submenu li  {
      background-color: #333;    
      margin:0;
      padding:15px;
      width: 155px;
      height: 60px;
      text-align: center;
      border-right: 1px solid #8b8d8f;
      transition: 600ms ease-in-out;
  }

  .submenu li:nth-child(1) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
  }

  .submenu li:last-child {
      border:none;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }

.submenu li a {
  display: block;
  padding: 8px 3px;
  
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 600ms ease-in-out;
}  

.submenu li:hover  {
    background-color: #aaaaaa;
  
}  

.submenu li:hover a {
  color:black;
}


    .h1a {font-size: 4rem}
    h3 {font-size: 2.2rem; margin-top:90px;}
  .content {top:0;width:55rem;padding-top:0; position: relative; margin: 0 auto; left:unset}
  h1 {position:relative; top:12rem; right:-183px;text-align: right;}
    .symbol {position: absolute;top:130px;right:65px; width:189px; height: auto;}
  .formarea {position: absolute;top:400px;left:100px;}
  label, input[type=text] {
      font-family: 'Anybody', cursive;
      font-weight: 300;
  }
  label,input[type=submit], input[type=button] {font-size: 1.2rem;} 
  
  input[type=submit], input[type=button]   {border-radius: 15px; padding: 2px 16px; color:white; background-color: #8b8d8f; margin: 20px 10px;}
  
  input[type=submit]:hover, input[type=button]:hover {background-color: #fff; color:black}
  input[type=text] {font-size: 1rem; }
  label.container {
      display: block;
      margin-bottom: 15px;
      font-size: 1rem;
  }
  .container input {
      accent-color:#8b8d8f;
  }
  .container input {
      margin-right: 13px;
  }
  input[type=text] {
      border:none;
      color: black;
      background-color: #aaaaaa;
      font-size: 1rem;
      border-radius: 10px;
      padding: 4px 30px;
      margin-bottom: 25px;
      line-height: 1.5rem;
      width:10rem;
  }
  
  input[type=text]:focus {background-color:white}
  
  label{margin-top: 4px;}
  .row:after {
      content: "";
      display: table;
      clear: both;
    }


  .result {position: relative; margin: 22px auto}  
  table {position:relative;width:100%; margin-bottom: 50px;}
  table.only1 {width: max-content;}
  table th, table td {font-family: 'Anybody', cursive; text-align: left;padding: 5px 30px;}   
    .guideline {float:right; margin-right: 0; margin-top:-68px; }
  p a:hover{background-color: aliceblue;color: black;}
  h2 {margin-left:-5px}
  .notes {margin-top: 2rem; }
  .notes > ol {margin-left: -1.8rem;}
  .notes >p {margin-left: 0}
  tr:nth-child(n+2):hover  {background-color: rgba(240,240,240,0.6)}
  .changepass {position: relative; float: right; top:-80px;}
  .changepass a:hover {background-color: antiquewhite; color: #000;}
  p { margin-left: 0;}
}
@media only screen and (min-width: 1440px) {
  .symbol {position: absolute; width:170px; height: auto; top:145px;right:42px;}
  button {font-size:1rem; padding:10px; position: relative; margin-bottom: 50px;}
  button:focus {background-color: antiquewhite;color: #000; }
   
}


