body {
  margin:0;background-color: #fff;     
  color: #000;
}
main {
  background: #fff;
} 
#hamburger {color:#000;}

@media only screen and (max-width: 1024px) {
  h3 {font-size: 1.5rem; color: #444444; left:0; font-family:'Anybody', cursive ; font-weight:400; }
    .content {
      padding:10px;
      background-color: rgba(200,200,200,0.1);
    }
    .logo_panel {position: relative; width:56vh; margin: 597px auto 10px auto;left: 0; right: 0; background-color: white; padding-top:20px}
    .logos {display: flex; flex-wrap: wrap; padding: 20px 150px}
    .logos > div { flex: 50%; height: 100px;}
}

@media only screen and (min-width: 1279px) {
    .content {
      padding:20px;
    }
    .logo_panel {width:95vh;  margin: 585px auto 10px auto;}
    .logos > div { flex: 25%; height: 120px;}   
  }
@media only screen and (min-width: 1280px) {
  h3 {font-size: 2rem; }
  .stockphoto{position: absolute;}
  .photo {position: unset;}
  .content {top:216px;left:582px;}
  .logo_panel {width:950px; margin: 850px auto 10px auto;}

  }
@media only screen and (min-width: 1440px) {
  .content {top:277px;left:670px;}
  }
    
