body {color:black;}
@media only screen and (max-width: 1023px) {
  .content {padding:0 10px;border-radius: 8px;background-color: rgba(0,0,0,0.4); color:white}
  .stockphoto2 {height: 100vh; overflow-y: hidden;}
}
@media only screen and (min-width: 1024px) {
  .h1a {font-size: 3.5rem;}
  .h2a {font-size: 2rem;}
  #stockphoto2{top:310px}
  #stockphoto3{top:781px;z-index: 3; }
  #stockphoto4{top:801px; bottom:0; }
  .content {background-color: rgba(255, 255, 255, .70); border-radius: 25px; padding-left: 5px; padding-right: 28px; }
}
@media only screen and (min-width: 1280px) {
  .content {left: 727px;}
}

@media only screen and (min-width: 1440px) {
  #stockphoto2{top:349px}
  #stockphoto3{top:876px;}
  #stockphoto4{top:896px;}
  .content {left: 815px;}
}