@media only screen and (min-width: 1440px) {
    .flip-box {position: fixed;}
    #hamburger {position: fixed}
    #mySidenav {z-index: 4;}
    .flip-box{position:fixed;z-index: 4}
    .stockphoto{position: fixed;}
    #stockphoto1 {top:0;z-index: 3; bottom: 0;}
    #stockphoto2{top:399px}
    #stockphoto3{top:878px;z-index: 3; bottom: 0;}
    #stockphoto4{top:849px; bottom:0; left:0; background-color:black;width:100%;}
    .content {   top:330px;left:828px;background-color: rgba(0, 0, 0, .20); padding:10px;
    }

}


