body {
  margin:0;background-color: #fff;     
  color: #000;
}

::-webkit-scrollbar {
  width: 1px;
}

main {
  background: #fff;
  padding-top:0;
} 

.flip-box {position: fixed;}
#hamburger {color:#000;position: fixed}
.stockphoto {position: fixed;}

.content {top:580px;overflow:auto;bottom: 0; min-height: 400px; position: absolute; margin-top: 0;margin-left: 150px;}


@media only screen and (max-width: 1399px) {
  .content {
      background-color: rgba(255,255,255,0.5);;
      padding-top:0;
      top:-65px;
  }