::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
    background: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #fff;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  
.flip-box {position: fixed;}
#hamburger {color:#fff;position: fixed}
.stockphoto {position: fixed;}

.content {    background-color: rgba(0, 0, 0, .20);
    top: 360px;
    padding: 10px;
    overflow: overlay;
    bottom: 135px;
    min-height: 150px;
    position: absolute;
    margin-top: 0;
    margin-left: 15px;
    border-radius: 20px
}


